@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear, 
input[type="password"]::-webkit-credentials-auto-fill-button, 
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

html {
  background-color: #0a0a0a; /* Default ke dark mode agar tidak ada flash putih */
}

html:not(.dark) {
  background-color: #ffffff; /* Jika light mode, background putih */
}