.custom-shape-divider-top-1739851561 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1739851561 svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 58px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1739851561 .shape-fill {
  fill: #4A90E2;
}